.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(tab-port) {
      top: 2rem;
      right: 2rem;
    }
  }
  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-port) {
      top: 2.5rem;
      right: 2.5rem;
    }
    //@include respond(phone) {
    //    //  top: 2.5rem;
    //    //  right: 2.5rem;
    //    //}
    //transform: scale(80);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 220%;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      display: inline-block;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      -webkit-transform: translateX(1rem);
      -moz-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
      -o-transform: translateX(1rem);
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &:before,
    &:after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      color: $color-gray-light-1;
      display: inline-block;
      transition: all .2s;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
    }
    &:before {
      top: -.8rem;
    }
    &:after {
      top: .8rem;
    }
  }

  &__button:hover &__icon:before {
    top: -1rem;
  }
  &__button:hover &__icon:after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
    &:before {
      transform: rotate(135deg);
      top: -0rem;
    }
    &:after {
      transform: rotate(-135deg);
      top: 0rem;
    }
  }

}

.bill__container {
  .toggle__chk {
    display: none;
  }
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 800;

  .bill__button {
    background: #5bae6f;
    padding: 2rem 3rem;
    margin: 1rem;
    color: white;
    border-radius: 2rem;
    border: 2px solid #4b7d57;
    cursor: pointer;
    transition: all .2s;
  }
  .b_month {
    position: relative;
    z-index: 1;
    padding: 2rem 5rem;
    pointer-events: none;
    padding-top: 3rem;
  }
  .b_year {
    left: -52px;
    position: relative;
    background: white;
    color: #5bae6f;
    padding: 2rem 5rem;
    .bill_year {
      display: block;
    }
  }
  .toggle__chk:checked ~ .b_year {
    z-index: 1;
    background: #5bae6f;
    color: white;
    pointer-events: none;
  }
  .toggle__chk:checked ~ .b_month {
    background: white;
    color: #5bae6f;
    z-index: 1;
    pointer-events: all;
  }
}